.scrollArea, .scrollArea >* {
    -fx-background-color: transparent !important;
    -fx-highlight-fill: transparent !important;
}

.scrollArea .scroll-bar:vertical {
    -fx-background-color: transparent !important;
    -fx-border-color: black;
    -fx-pref-width: 20px;
}

.scrollArea .scroll-bar:vertical .thumb  {
    -fx-background-color: black !important;
}

.scrollArea .scroll-bar:vertical .track {

}

.scrollArea .scroll-bar:vertical .decrement-button{
    -fx-pref-height: 0px;
}
.scrollArea .scroll-bar:vertical .increment-button{
    -fx-pref-height: 0px;
}

.scrollArea .scroll-bar:vertical .decrement-arrow {
    visibility: hidden !important;
}
.scrollArea .scroll-bar:vertical .increment-arrow {
    visibility: hidden !important;
}